version: '3.9'
services:
  postgres_db:
    image: postgres:15-alpine
    platform: linux/arm64
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - redis-network
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      timeout: 5s
    #redis-insight
  redis-insight:
      image: redis/redisinsight:latest
      container_name: redis-insight
      restart: unless-stopped
      ports:
        - "5540:5540"
      volumes:
        - redis-insight-data:/data
      networks:
        - redis-network
      depends_on:
        - redis

volumes:
  pgdata:
    driver: local
  redis-data:
    driver: local
  redis-insight-data:
      driver: local
networks:
  redis-network:
    driver: bridge